@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@font-face {
  font-family: "Clash";
  src: url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: normal;
  font-style: normal;
}
@tailwind utilities;

body {
  font-family: "Clash", "Poppins", sans-serif;
}

header {
  position: relative;
  z-index: 999;
}

.hero {
  position: absolute;
  top: 0;
  background-image: url("./Images//hero.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}
